body {
	background: #f3f3f3;
	color: #555;
	padding: 1em 2em;
	font-family: 'freight-sans-pro', sans-serif;
	line-height: 1.3;
	font-size:110%;
	/*text-align:center;*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'freight-sans-pro', serif;
	/*text-transform: uppercase;*/
	font-weight: normal;
	/*font-style: italic;*/
	/*
	border-bottom: 0.2em solid #333;
	border-top: 0.2em solid #333;
	letter-spacing: 0.1em;*/
	line-height: 2;
	color: #333;
}

h2 {
	font-size: 2em;
	margin: 0.5em 0;
}

h3 {
	font-size: 1.5em;
	margin: 0;
}

a {
	color: #38CB7D;
	text-decoration: none;
}

header {
	padding: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
/*	position:fixed;
	width: 100%;
	left:0; top: 0;*/
	border-bottom: 1px dashed #ccc;
	margin-bottom: 2em;
	position: relative;
}

#logo {
	left: 50%;
	top: 0;
	margin-left: -1.5em;
	position: absolute;
	opacity: 0.1;
	width: 3em;
	height: 3em;
}

nav {
	float:right;
	font-size: 1.1em;
}

.leading {
	font-size: 1.2em;
}

.button, button {
	display: inline-block;
	padding: 1em 1.5em 0.75em;
	background: #38CB7D;
	color: #fff;
	font-weight: bold;
	-moz-transition: 0.2s background-color;
	border:none;
	border-radius: 3px;
	border-bottom: 0.25em solid rgba(0, 0, 0, 0.1);
}

.button:hover, button:hover {
	background: #f00;
}

.button-group {
	text-align: center;
	margin: 1em 0;
}

.social img {
	width: 3.25em;
	height: 3.25em;
}

.social ul {
	margin: 0;
}

.social li {
	display: inline-block;
}

.copyright {
	font-size: 0.7em;
	color: #999;
	padding: 1em 0;
}

.copyright a {
	color: #777;
	font-weight: bold;
}

.copyright a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	margin-bottom: 1em;
}

table td {
	line-height: 2;
}

table tr {
	border-bottom:1px solid #ccc;
}

ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	/*font-weight: bold;*/
}

#shopping-cart, nav ul {
	display:inline-block;
	margin: 0;
}

nav a:hover, nav a.active {
	color: #777;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

blockquote {
	font-style:italic;
	font-family: 'freight-text-pro', serif;
	margin: 1em 0;
	padding: 0;
	font-size: 1em;
}

.message {
	font-style:italic;
	font-family: 'freight-text-pro', serif;
	margin: 1em 0;
	font-size: 1.2em;
	color: #38CB7D;
	text-align: center;
}

.message a {
	font-weight: bold;
	font-style: normal;
	font-family: 'freight-sans-pro', sans-serif;
}

blockquote:before, blockquote:after {
	content: '"';
}

cite {
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.75em;
	display: block;
}

cite a {
	color: #333;
	font-weight: bold;
}

cite:before {
	content: '— ';
}

section {
	min-height: 20em;
}

aside {
	font-size: 0.8em;
	color: #777;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 2em;
}

.counter {
	color: #aaa;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.35em;
	border: 1px solid #aaa;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	font-size: 1.2em;
	margin-right: 0.25em;
	font-weight: bold;
}

.gallery-menu h3 {
	margin: 0;
}

.gallery-menu ul {
	line-height: 2;
	margin: 0;
}

.gallery-menu li { 
	display:block; 
	margin-bottom: 0.5em;
}

.gallery-menu a { 
	display: inline-block; 
	color: #777;
}

.gallery-menu a:hover, .gallery-menu .selected a {
	color: #38CB7D;
}

.gallery-menu .selected .counter {
	background: #38CB7D;
	color: #f3f3f3;
	border-color: transparent;
}

.gallery-item img {
	width: 100%;
	display: block;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid transparent;
}

.gallery-item {
/*	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;*/
	padding: 1em;
	border: 1px solid transparent;
	/*margin: 1em;*/
	color: #999;
	position:relative;
}

.gallery-item, .gallery-item img {
	-moz-transition: 0.2s all;
}

.gallery-item:hover, .gallery-item:hover img {
	border-color:#ccc;
	background: #fff;
}

.gallery-item-title {
	font-weight: bold;
}

.subnav {
	background: #ddd;
	padding: 1em;
}

footer {
	font-size: 0.9em;
	padding: 1em 0;
	border-top: 1px dashed #ccc;
	margin: 1em 0;
}

footer .logo {
	float:left;
	margin: 1.2em 1em 1em 0;
	height: 5em;
	width: 5em;
	opacity: 0.5;
}

.shopping {
	position: fixed;
	right: 1em;
	top: 1em;
}

.shopping-bag {
	border-radius:50%;
	background:#666;
	color:#fff;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3em;
}

.shopping-bag:hover {
	background: #000;
}

.gallery-item-status {
	padding: 0.5em 1em;
	position:absolute;
	top: 1em;
	left: 1em;
	color:#fff;
	border-radius: 3px;
}

.sold {
	background:#c00;
}

.new {
	background:#0c0;
}

.ui-animated {
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.card {
	background:#eecfbb;
	box-shadow: 0px 10px 8px rgba(0,0,0,0.5);
	padding: 3em;
}

.newsletter input {
	background:#fff;
	color: #333;
	padding: 1em 1em;
	border:none;
	margin-right: -4px;
	border-radius: 3px 0 0 3px;
	width: 15em;
}

/* Draw */
#draw {
	position:relative;
	overflow: hidden;
}

#artboard {
	display: block;
	margin: 0 auto;
	background: #fff;
}

#palette {
	position: absolute;
	top: 0;
	right: 1em;
	width: 2em;
	margin: 0;
}

#palette li {
	display: block !important;
}

.testimonial {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 2em;
	margin-bottom: 2em;
}

.testimonial img {
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 50%;
}

.testimonial blockquote {
	margin-top: 0;
	margin-left: 120px;
	padding: 1em;
	background: #fff;
	border-radius: 20px;
}

.testimonial cite {
	text-align: right;
}

.contact ul {
	font-size: 0.8em;
	line-height: 1.8;
}

.price {
	font-size: 3em;
	color: #38CB7D;
	margin: 0;
}